* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg , #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.top__heading {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.top__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}



.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url('images/top__back.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top__text {
    width: 425px;
}

.heading-contacts {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.text_project {
    width: 70%;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
    margin: 32px auto 64px auto;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.what-we-do {
    padding-top: 64px;
    padding-bottom: 64px;
}

.card-box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.card {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.card__image {
    align-self: center;
    margin-bottom: 51px;
}

.project {
    margin-bottom: 112px;
}

.project_image {
    width: 100%;
}

.project__item {
    position: relative;
    flex-grow: 1;
}

.project__item_margin {
    margin-right: 32px;
}

.project__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
}

.project__text-right {
    top: 64px;
    right: 64px;
}

.project__text-left {
    top: 32px;
    left: 32px;
}

.project__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

input, textarea {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button-submit {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer {
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__heading {
    width: 340px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 32px;
}

.footer__text {
    width: 495px;
}

.text_footer {
    color: #FFFFFF;
}

.footer__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    padding: 15px 80px;
    cursor: pointer;
}

.footer__hr {
    margin: 96px auto 64px auto;
    opacity: 0.4;
}

.footer__info {
    display: flex;
    justify-content: space-between;
}

.footer__info-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    list-style-type: none;
    flex-basis: 33%;
}

.footer__copy {
    margin-top: 64px;
}

.text-footer-copy {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

.form-inner {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
}

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .top__info {
        background-position: right 280px;
    }

    .card-box {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 32px;
    }

    .footer__button {
        padding: 4px 31px;
    }

    .footer__info {
        flex-direction: column;
    }

    .footer__info-text {
        margin-bottom: 24px;
    }
}

@media (max-width: 667px) {
    .header {
        padding-top: 24px;
    }

    .heading {
        font-size: 24px;
        line-height: 28px;
    }

    .top {
        min-height: 376px;
        padding-bottom: 41px;
    }

    .top__info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .top__heading {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }

    .top__button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .top__text {
        width: 100%;
        text-align: center;
    }

    .what-we-do {
        padding-top: 48px;
    }

    .card-box {
        padding-top: 32px;
    }

    .card {
        width: 100%;
    }
    .project {
        margin-bottom: 64px;
    }

    .text_project {
        width: 100%;
    }

    .project__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .project__text-left {
        left: 16px;
        text-align: left;
    }

    .project__parent {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
    }

    .project__item_margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .footer {
        width: 100%;
        padding-top: 18px;
        padding-bottom: 32px;
    }

    .footer__top {
        flex-direction: column;
    }

    .footer__heading {
        width: 75%;
        margin: 0 auto 32px;
        text-align: center;
    }

    .footer__copy {
        margin-top: 32px;
    }

    .text_footer {
        margin-bottom: 40px;
        text-align: center;
    }

    .footer__text {
        width: 100%;
    }

    .footer__hr {
        margin-top: 40px;
    }

    .footer__info-text {
        margin-bottom: 18px;
    }

    .footer__copy {
        margin-top: 32px;
    }
}